# Resend
RESEND_FROM_EMAIL="noreply@example.com"
RESEND_API_KEY=""

# Database (client + server)
VITE_SUPABASE_URL=""
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=""

# Database (server only)
SUPABASE_SECRET_KEY=""

# Cron
CRON_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
